[defaults]
inventory = inventories/homelab/hosts.ini
remote_user = ansible
host_key_checking = True
retry_files_enabled = False
private_key_file = ~/.ssh/ansible_id

[ssh_connection]
pipelining = True
